[project]
	description = Mastering Math Facts practice webapp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nhelfman
[access "refs/for/refs/*"]
	read = group user/nhelfman
	push = group user/nhelfman
	label-Code-Review = -2..+2 group user/nhelfman
	label-Verified = -1..+1 group user/nhelfman
	rebase = group user/nhelfman
	removeReviewer = group user/nhelfman
	submit = group user/nhelfman
[access "refs/heads/*"]
	read = group user/nhelfman
	create = group user/nhelfman
	push = +force group user/nhelfman
	pushMerge = group user/nhelfman
[access "refs/tags/*"]
	push = +force group user/nhelfman
	pushTag = group user/nhelfman
	pushSignedTag = group user/nhelfman
